@use "reset";

:root {
  --ff-heading-sans-serif: 'Montserrat', sans-serif;
  --ff-body-sans-serif: 'Hind', sans-serif;

  --fs-sm: 1.4rem;
  --fs-default: 1.6rem;
  --fs-lg: 1.8rem;
  --fs-xl: 2.4rem;
  --fs-xxl: 3.6rem;
}

.container {
  margin: 0 auto;
  padding-left: var(--container-inline-padding, 3.2rem);
  padding-right: var(--container-inline-padding, 3.2rem);
  max-width: 120rem;
}

/* HEADER */

.header {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  min-height: 100vh;

  &__scroll-indicator {
    content: "";
    width: 0.1rem;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }
}

/* NAVBAR */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 3.2rem;
  margin-bottom: 3.2rem;

  & &__logo {
    font-weight: 600;
    font-size: var(--fs-xxl);
    font-family: var(--ff-heading-sans-serif);
    padding-bottom: 0.8rem;

    // & is at __logo here
    & a:link,
    & a:visited {
      color: black;
      text-decoration: none;
    }
  }

  & &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--nav-links-gap, 2.4rem);
  
    list-style-type: none;

    & a:link,
    & a:visited {
      color: black;
      text-decoration: none;
      font-family: var(--ff-body-sans-serif);
      font-size: var(--fs-default);
    }
  }
}

/* HERO */

.hero {
  align-self: center;
  text-align: center;
  padding-top: min(12.8rem, 15vh);
  padding-bottom: 3.2rem;

  & &__image {
    --image-size: 25.6rem;

    height: var(--image-size);
    width: var(--image-size);
    /* border: 1px solid black; */
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    // & is at .hero .hero__image
    & img {
      display: block;
      width: 100%;
    }
  }

  & &__description {
    margin-top: 0.8rem;

    // & is at .hero .hero__description
    & h1 {
      line-height: 3.5rem;
      font-size: var(--fs-xxl);
      font-family: var(--ff-heading-sans-serif);
    }

    & h1 span {
      text-transform: uppercase;
      font-size: var(--fs-lg);
      font-family: var(--ff-body-sans-serif);
      font-weight: 400;
      letter-spacing: 0.5px;
    }

    & p {
      margin-top: 1.6rem;
      font-size: var(--fs-lg);
      line-height: 2.4rem;
      font-family: var(--ff-body-sans-serif);
    }
  }
}

/* PROJECTS */

.projects {
  padding-top: 3.2rem;
  padding-bottom: 12.8rem;

  & &__title {
    line-height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--fs-lg);
    font-family: var(--ff-heading-sans-serif);
  }

  & &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--projects-item-gap, 3.2rem);
    margin-top: 3.2rem;
    list-style-type: none;
  }
}

@media screen and (min-width: 40.625em) {
  .projects .projects__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 56.25em) {
  .projects .projects__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* CARD */

.card {
  background-color: white;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25); 
  border-radius: var(--card-border-radius, 0.4rem);
  padding: 1.2rem 1.6rem;
  text-align: left;
  min-height: 42.5rem;

  & &__image {
    height: 16.9rem;

    & img {
      max-width: 100%;
    }
  }

  & &__description {
    max-width: var(--card-description-width);
    margin-top: 2.4rem;

    & h3 {
      font-size: var(--fs-default);
      font-family: var(--ff-heading-sans-serif);
    }

    & p {
      margin-top: 0.8rem;
      font-size: var(--fs-default);
      line-height: 1.8rem;
      font-family: var(--ff-body-sans-serif);
    }
  }

  & &__stack {
    margin-top: 2.4rem;

    & h4 {
      text-transform: uppercase;
      font-size: var(--fs-sm);
      font-family: var(--ff-heading-sans-serif);
    }

    & ul {
      margin-top: 0.4rem;
      display: flex;
      align-items: center;
      gap: var(--card-stack-gap, 0.8rem);
      list-style-type: none;
    }

    & ul li {
      content: "";
      height: 1.8rem;
      width: 1.8rem;
      background-color: black;
      border-radius: 50%;
    }
  }
}